#results h3{
  font-family: 'Roboto', sans-serif;
  color: #272727;
}

#results hr {
  width: 5em;
}

#results .cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 10em 0em 10em;
  justify-content: center;
  align-items: top;
}

#results .cards .card {
  width: 18em;
  box-shadow: 2px 5px 8px gray;
  border-radius: 3px;
  background-color: #272727;
  color: white;
  margin: 1.2em;
}

#results .card .img_card {
  width: 100%;
  height: 65%;
  object-fit: cover;
  background-color: white;
  border-radius: 3px 3px 0px 0px;
}

#results .card p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  margin: 0.1em;
}

#results .card .name_artist {
  padding-top: 0.2em;
  font-size: 1.2em;
}