<header>
  <div
    id="title_musiquea"
    fxLayout="row"
    layout-padding
    fxLayoutAlign="center center"
  >
    <h1><a (click)="goHome()">MUSIQUEA</a></h1>
  </div>
  <div
    id="div_search"
    fxLayout="row"
    layout-padding
    fxLayoutAlign="center center"
  >
    <form #myform="ngForm">
      <div id="formSearch">
        <label for="inputSearch"></label>
        <input
          #searchText
          maxlength="256"
          placeholder="{{ 'SEARCH' | oTranslate }}"
          type="text"
          value=""
          name="search"
          id="search"
          [(ngModel)]="search"
          (keydown.enter)="onSubmit($event.target.value)"
        />
      </div>
      <div id="formMonth" [hidden]="!_router.url.includes('results')">
        <label for="month"></label>
        <select
          name="month"
          id="month"
          (change)="changeMonth($event.target.value)"
        ></select>
      </div>
    </form>
  </div>
</header>
<div fxLayout="row" layout-padding fxLayoutAlign="center center">
  <router-outlet></router-outlet>
</div>
