<header>
  <div id="header" fxLayout="row" layout-padding fxLayoutAlign="center center">
    <h1><a (click)="goHome()">MUSIQUEA</a></h1>

    <form #myform="ngForm">
      <div id="formSearch">
        <label for="search"></label>
        <input
          #searchText
          maxlength="256"
          placeholder="{{ 'SEARCH' | oTranslate }}"
          type="text"
          value=""
          name="search"
          id="search"
          [(ngModel)]="search"
          (keydown.enter)="onSubmit($event.target.value)"
        />
      </div>
    </form>
  </div>
</header>
<div id="details">



</div>
<div id="details">
  <h3>No se ha encontrado el concierto seleccionado.</h3>
</div>
