* {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0px;
  padding-bottom: 0px;
}

.header {
  background-color: #F2B705;
  width: 100%;
  box-shadow: 0px 2px 4px gray;
}

h1 a {
  text-decoration: none;
  color: whitesmoke;
  margin-bottom: 0.8em;
}

.search {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: left;
  border: none;
  border-radius: 3px;
  padding: 0.6em;
  width: 24em;
  box-shadow: 1px 2px 7px #272727;
}